*{
    font-family: sans-serif;
}

html{
    background-color: #23fcfc;
}

h1{
    background-color: #6667ab;
    color: white;
    text-align: center;
    padding: 10px;
}

h2{
    font-size: 1.5rem;
    margin: 2rem;
}

form{
    margin: 2rem;
}

textarea, input, label, button{
    display: block;
    width: 100%;
}

textarea, input{
    margin-bottom: 1rem;
}

button{
    background-color: #6667ab;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}

button:hover{
    background-color: #3c3d7e;
    color: black;
}

div{
    border: 2px  solid #6667ab;
    padding: 0 0.5rem 0 0.5rem;
    color: #666666;
    margin: 2rem;
}

p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

a{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #6667ab;
    text-decoration: none;
    margin-right: 1rem;
}

a:hover{
    text-decoration: underline;
}

.delete{
    color: red;
}

.in-progres{
    background-color: #EFAC00;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}

.in-progres:hover{
    border: 2px solid #6667ab;
    background-color: green;
}