* {
    font-family: sans-serif;
}

h1 {
    background-color: #6667AB;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

textarea, input, label, button  {
    display: block;
    width: 100%;
}

form {
    padding: 0.5rem;
}

textarea, input {
    margin-bottom: 1rem;
}

button {
    background-color: #6667AB;
    color: #ffffff;
    padding: 0.5rem;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}

button:hover {
    background-color: #44457b;
}

div.listItem {
    border: 2px solid #6667AB;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.5rem;
}

div.listItem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.listItem p a {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #6667AB;
    text-decoration: none;
    margin-right: 1rem;
}

div.listItem p a:hover {
    text-decoration: underline;
}

div.listItem p a.delete {
    color: red;
}

div.listItem span {
    padding: 2px 8px 2px 8px;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 2px;
}

div.listItem span.inProgress {
    background-color: #efac00;
    padding: 2px 8px 2px 8px;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 2px;
}

div.listItem span.toDo {
    background-color: #7e7d7a;
}

div.listItem span.done {
    background-color: #02792e;
}

div.tasks {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:476px) {
    div.tasks {
        flex-direction: row;
    }
}

@media screen and (min-width:768px) {
    div.tasks {
        flex-direction: row;
    }
}

@media screen and (min-width:1024px) {
    div.tasks {
        flex-direction: row;
    }
}

@media screen and (min-width:1280px) {
    body {
        max-width: 1280px;
        margin: auto;
    }
}